/*Limpar as configurações dos navegadores*/
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}

body {
    margin: 0 auto;
    width: 900px;
    height: 100%;
}

.perfil{
    background-image: url("/images/fundo.png");
}

img {
    border-radius: 150px;
}

a {
  text-decoration: none;
}

a:hover{
   color: black;
}

button {
   background-color: aqua;
   border-radius: 300px;
   width: 300px;
   height: 90px;
}

button:hover {
   color: black;
}

